# Python 
__pycache__/
*.py[cod]
.venv/

# Build
*.egg-info/

# Database
*.db
*.sqlite3*

# Environment/Secrets 
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db
